<!DOCTYPE html>
<html>
<head>
	<title>Meme Collector</title>
	<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css"></link>
</head>
<body>
    <div class="ui fixed menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Meme Collection</div>
            <a href="/" class="item">Home</a>
            <a href="/memes/new" class="item">Add Meme</a>
        </div>
    </div>